# Potentially sensitive information
secrets.yaml
options.xml
.ios.conf
.uuid
.automatic/
.cloud/
.storage/

# Cruft
*.log
*Log.txt
__pycache__/
tts/
deps/

# Databases
*.db
*.db-*
*.sqlite
zwcfg_*.xml
.homekit.state

# Node-RED
node-red/*.backup
node-red/.sessions
