homeassistant:
  name: Home
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  elevation: !secret home_elevation
  time_zone: !secret home_tz
  unit_system: imperial
  packages: !include_dir_named packages/
  customize: !include customize.yaml

zwave:
  usb_path: /dev/ttyUSB0
  network_key: "0x1A, 0x8B, 0xAC, 0x11, 0x21, 0x3D, 0x01, 0x11, 0x11, 0x09, 0x69, 0x31, 0xA7, 0x99, 0x08, 0x0F"
  device_config_glob: !include zwave_device_config.yaml
zha:
  usb_path: /dev/ttyUSB1
  database_path: /config/zigbee.db
  device_config: !include zigbee_device_config.yaml

http:
  base_url: !secret http_base_url
  ssl_certificate: /ssl/fullchain.pem
  ssl_key: /ssl/privkey.pem

frontend:
  javascript_version: latest
config:
updater:
discovery:
  ignore:
    - igd
recorder:
  include:
    domains:
      - binary_sensor
      - device_tracker
history:
logbook:
map:
lovelace:
  mode: yaml

ios:

custom_updater:
  track:
    - components
    - cards
  card_urls:
    - https://raw.githubusercontent.com/kuuji/button-card/master/tracker.json

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include_dir_merge_list scenes/
